// out: ../css/adaptive-portfolio.css

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 924px;
  }

  .site-header {
    .header-element {
      .header-slogan {
        .text {
          width: 600px;
        }
      }
    }
  }

  .site-content {
    .slider-section {
      .container {
        .image-section {
          margin-right: 35px;

          .big-image {
            width: 400px;
            height: 450px;
          }

          .big-image-2 {
            width: 400px;
            height: 280px;
          }

          .small-image-section {
            width: 400px;

            .small-image {
              width: 90px;
              height: 90px;
            }
          }
        }

        .info-section {
          .tags-section {
            .tags-section-text {
              margin-bottom: 20px;
            }
          }

          .share {
            margin-top: 40px;
          }
        }
      }
    }

    .section-2 {
      .container-2 {
        .image-section-2 {
          margin-left: 20px;
          margin-right: 0px;
        }
      }
    }

    .related-block {
      padding-top: 70px;

      .container {
        .related-block-paragraf {
          width: 70%;
          padding-top: 20px;
        }

        .related-block-image {
          .image {
            width: 290px;
            height: 215px;
          }
        }
      }
    }
  }
}

@media (max-width: 924px) {
  .container {
    width: 688px;
  }

  .site-header {
    .header-element {
      margin: 0;
      background-position-x: 150%;

      &:hover {
        background-position-x: 150%;
      }
    }
  }

  .site-content {
    .slider-section {
      padding-top: 45px;

      .container {
        .image-section {
          .big-image {
            width: 300px;
            height: 350px;
          }

          .big-image-2 {
            height: 210px;
          }

          .small-image-section {
            width: 300px;

            .small-image {
              width: 70px;
              height: 70px;
            }
          }
        }

        .info-section {
          width: 360px;

          .section-title {
            font-size: 18px;
            letter-spacing: 5px;
          }

          .text-section {
            .text {
              font-size: 13px;
              margin-bottom: 15px;
            }
          }

          .tags-section {
            .tags-section-title {
              font-size: 14px;
              margin-top: 15px;
              margin-bottom: 10px;
            }
          }

          .share {
            margin-top: 30px;

            .share-btn {
              width: 100px;
              height: 40px;
            }

            .dropdown {
              width: 260px;
              height: 40px;
              margin-left: 20px;
            }
          }
        }
      }
    }

    .related-block {
      padding-top: 50px;

      .container {
        .related-block-image {
          .image {
            width: 220px;
            height: 155px;
          }
        }
      }
    }
  }
}

@media (max-width: 688px) {
  .container {
    width: 320px;
  }

  .site-header {
    .header-element {
      height: 100vh;
      background-size: 80%;
      background-position: center;

      &:hover {
        background: #e2e2e2 url("../img/portfolio_2.png") no-repeat center;
        background-size: 80%;
        background-position: center;
      }

      .header-slogan {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
          width: 320px;
          height: 100px;
          font-size: 40px;
          line-height: 50px;
          background-color: rgba(0, 0, 0, 0.5);
        }

        .slogan {
          letter-spacing: 5px;
        }

        .text {
          width: 320px;
        }
      }
    }
  }

  .site-content {
    .control {
      .container {
        .control-wrapper {
          .control-btn {

            .btn {
              width: 100px;
              font-size: 12px;
            }

            .previous {
              >.fa {
                font-size: 12px;
                padding-right: 10px;
              }
            }

            .next {
              >.fa {
                font-size: 12px;
                padding-left: 10px;
              }
            }
          }

          .control-all {
            .btn {
              width: 110px;
              border-left: none;
              font-size: 12px;

              >.fa {
                padding-right: 10px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .slider-section {
      .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .image-section {
          margin: 0;

          .big-image {
            width: 320px;
            height: 350px;
          }

          .big-image-2 {
            width: 320px;
            height: 226px;
          }

          .small-image-section {
            width: 320px;
          }
        }

        .info-section {
          padding-top: 50px;
          width: 320px;

          .section-title {
            font-size: 20px;
            letter-spacing: 5px;
          }
        }
      }
    }

    .related-block {
      .container {
        .related-block-paragraf {
          width: 100%;
        }

        .related-block-image {
          .image {
            width: 100px;
            height: 70px;
          }
        }
      }
    }
  }
}